.journey {
    display: flex;
    flex-direction: row;
    overflow-x: auto; /* Allows horizontal scrolling if images overflow */
    gap: 10px; /* Spacing between images */
    align-items: center; /* This aligns children vertically in the center */
}

.screenshot-container {
    width: 400px; /* Or any specific width you prefer */
    display: flex; /* This will help in centering the image inside the container */
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    overflow: hidden; /* Ensures the image is clipped if it overflows the container */
}

.screenshot {
    max-width: 100%; /* Scale image to fit container width */
    max-height: 100%; /* Scale image to fit container height */
    object-fit: cover; /* Cover the container without losing the aspect ratio */
}

.arrow {
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 20px solid black; /* Adjust the color as needed */
    margin: 0 10px; /* Adjust spacing around the arrow */
}
